/* ===== FUNDO COM IMAGEM ===== */

body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    /* IMAGEM DE FUNDO (MESSI) */
    background-image: url("https://admin.cnnbrasil.com.br/wp-content/uploads/sites/12/2022/12/messi-foto-mais-curtida.jpg?w=1200&h=900&crop=1");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/* OVERLAY ESCURO */

body::after {
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.85) 100%);
    z-index: 1;
}


/* ===== CARD ===== */

.login-container {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 380px;
    backdrop-filter: blur(6px);
    padding: 30px 24px;
    border-radius: 16px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
}


/* CARD CENTRAL */

.login-container {
    width: 100%;
    max-width: 380px;
    padding: 30px 24px;
    border-radius: 16px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
}


/* TÍTULO */

.login-container h2 {
    text-align: center;
    color: #00ff9c;
    margin-bottom: 25px;
}


/* SUBTÍTULOS */

.login-container h3 {
    font-size: 15px;
    margin: 20px 0 10px;
    color: #fff;
}


/* INPUTS */

.login-container input {
    padding: 14px;
    margin-bottom: 12px;
    border-radius: 12px;
    border: none;
    font-size: 14px;
}

.login-container input::placeholder {
    color: #8c8c8c;
}

.login-container input:focus {
    outline: 2px solid rgba(0, 255, 156, 0.4);
}


/* BOTÕES */

.login-container button {
    padding: 14px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}


/* CRIAR */

#btn-criar {
    background: #fff;
    color: #000;
}

#btn-criar:hover {
    transform: scale(1.03);
}


/* ENTRAR */

#btn-login {
    background: #00ff9c;
    color: #000;
}

#btn-login:hover {
    transform: scale(1.04);
}


/* DIVISÃO */

.login-container hr {
    margin: 25px 0;
    border: none;
    height: 1px;
}


/* MENSAGEM */

#msg {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}